@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Outfit';
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    background-color: white;
    width: auto;
}

nav {
    z-index: 1100;
    position: fixed;
    width: 100%;
    height: 95px;
    display: block;
    align-items: center;
    justify-content: space-between;
    transition: top 0.3s;
}

.navbar-container {
    top: 0;
    left: 0;
    position: fixed;
    height: 95px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: top 0.3s;
}

.navbar-logo img {
    width: 148px;
    height: 50px;
    margin: 35px 30px 35px 61px;
}

nav ul {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 38px;
    flex: 1 0 0;
}

nav ul li {
    position: relative;
    list-style: none;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    color: #f2f2f2;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: block;
}

header {
    left: 0px;
    top: 0px;
    position: absolute;
    width: 100%;
    height: 60px;
    display: flex;
    z-index: 1000;
}

.navbar-head {
    position: absolute;
    top: 25px;
    right: 61px;
    display: flex;
    width: 190px;
    height: 45px;
    padding: 0px 18px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 10px;
    background: var(--blue-gwk, #15548D);
    z-index: 1100;
}

.dropdown-toggle {
    color: #FFF;
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 30px;
}

.navbar-head ul {
    width: 190px;
    background-color: #15548D;
}

.navbar-head ul li a {
    color: #FFF;
    font-family: Outfit;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navbar-img {
    position: absolute;
    top: 12px;
    left: 15px;
    width: 30px;
    height: 20px;
    border-radius: 3px;
}

main {
    width: 100%;
}

.hero {
    width: 100%;
    height: 801px;
    flex-shrink: 0;
}

.hero-container {
    background-color: #15548D;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 720px;
}

.hero-img img {
    top: 0;
    right: 0px;
    position: absolute;
    height: 790px;
    width: 610px;
    z-index: 800;
}

.hero-line {
    width: 30px;
    height: 3px;
    background: #FAC568;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.hero-label {
    z-index: 100;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 14px;
    width: 301px;
    height: 16px;
    padding-left: 107px;
    padding-top: 206px;
}

.hero-label h5 {
    width: 257px;
    height: 16px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.hero-content {
    width: 675px;
    height: 204px;
    font-style: normal;
    font-weight: 600;
    line-height: 155%;
    color: #FFFFFF;
}

.hero-content h1 {
    color: white;
    width: 675px;
    height: 118px;
    padding-left: 107px;
    padding-top: 31px;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 155%;
}

.hero-content p {
    width: 645px;
    height: 70px;
    padding-top: 16px;
    margin-left: 107px;
    margin-right: 648px;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 160%;
    color: #FFFFFF;
}

.hero-button h3 {
    padding: 17.5px 55.85px;
    color: #000;
    font-family: Outfit;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.hero-button {
    border: none;
    outline: none;
    margin-top: 36px;
    margin-left: 107px;
    height: 74px;
    border-color: #FAC568;
    display: flex;
    width: 404.7px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 1000px;
    background: var(--yellow-gwk, #FAC568);
}

.vector-1 img {
    width: 866px;
    height: 785px;
    left: -2;
    position: absolute;
    top: 45px;
    z-index: 50;
}

.workflow-line-bg {
    left: 0;
    top: 780px;
    right: 21px;
    position: absolute;
    z-index: 1;
    width: 1379px;
    height: 610.43px;
}

.eclipse-blue img {
    left: 938px;
    top: 1099px;
    position: absolute;
    z-index: 1;
}

.scroll {
    position: absolute;
    left: 56px;
    top: 567px;
    animation: updown 0.5s ease-in-out infinite alternate;
}

@keyframes updown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
        /* Adjust the distance you want the image to move */
    }
}


/*---------page2-------*/

.workflow {
    left: 0px;
    top: 700px;
    width: 100%;
    height: 610px;
    z-index: 1;
}

.workflow-line {
    width: 36px;
    height: 3px;
    /* yellow gwk */
    background: #FAC568;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.workflow-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 14px;
    width: 307px;
    height: 17px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 100;
    padding-top: 20px;
    padding-left: 107px;
}

.workflow-label h5 {
    width: 257px;
    height: 17px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 100%;
    text-transform: uppercase;
    color: #333333;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.workflow-title h1 {
    width: 589px;
    height: 102px;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 150%;
    /* or 51px */
    color: #333333;
    z-index: 100;
    position: relative;
    top: 50px;
    left: 90px;
}

.workflow-content {
    width: 100%;
    height: 610.43px;
    z-index: 100;
}

.workflow-content p {
    font-size: 15px;
}

.workflow-img {
    display: flex;
    width: 130px;
    height: 130px;
    padding: 9.646px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9.646px;
    border-radius: 868.167px;
    background: #FFF;
    box-shadow: 0px 4.823px 38.585px 0px #FFF0DE;
}

.workflow-img img {
    width: 85px;
    height: 85px;
}

.workflow-1 h4 {
    color: #333;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.workflow-1 {
    top: 1099.57px;
    left: 94.79px;
    width: 230px;
    position: absolute;
    z-index: 100;
}

.workflow-2 h4 {
    color: #333;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.workflow-2 {
    top: 1018.57px;
    left: 390.22px;
    width: 260px;
    position: absolute;
    align-items: center;
    z-index: 100;
}

.workflow-3 h4 {
    color: #333;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.workflow-3 {
    top: 1056.19px;
    left: 751px;
    position: absolute;
    width: 280px;
    align-items: center;
    z-index: 100;
}

.workflow-4 h4 {
    color: #333;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.workflow-4 {
    top: 932.19px;
    left: 1053.89px;
    position: absolute;
    width: 260px;
    align-items: center;
    z-index: 100;
}


/*.vector-6 {
    left: 0px;
    top: 650px;
    position: absolute;
    z-index: 50;
}

.vector-6 img {
    width: 1260px;
    height: 400px;
    z-index: 50;
    filter: brightness(80%);
} */


/*---------page3-------*/

.our-services {
    width: 100%;
    height: 690px;
    z-index: 1;
    margin-bottom: 92px;
}

.our-services-line {
    width: 35px;
    height: 3px;
    border-radius: 3px;
    background-color: #FFD700;
}

.our-services-label {
    display: flex;
    width: 1183px;
    align-items: center;
    gap: 14px;
    padding-top: 92px;
    padding-left: 108px;
}

.our-services-label h5 {
    display: flex;
    font-weight: 900;
    font-size: 17px;
    color: #000;
    width: 269px;
    height: 17px;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
}

.our-services-title {
    padding-top: 24px;
    padding-left: 100px;
}

.our-services-title h1 {
    color: #333;
    font-family: Outfit;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.our-services-row {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.our-services p {
    font-size: 10px;
    line-height: 18px;
}

.our-services h2 {
    width: 246.58px;
    height: 31px;
    text-align: right;
    position: absolute;
    margin-left: 29.82px;
    color: var(--yellow-gwk, #FAC568);
    font-family: Outfit;
    font-size: 31.123px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
}

.our-services img {
    top: 34.04px;
    margin-bottom: 14.96px;
    position: relative;
    width: 138.11px;
    height: 140px;
}

.our-services-card {
    display: block;
    width: 355px;
    background-color: white;
    border: 0.973px solid #DDD;
    text-decoration: none;
    z-index: 3;
    border-radius: 32px;
    height: 370px;
    cursor: pointer;
    background: #FFF;
    padding: 0px 34px 23px 34px;
    /* overflow: hidden; */
}

.our-services-card:nth-child(1) {
    margin-left: 108px;
    z-index: 1;
}

.our-services-card:nth-child(2) {
    margin-left: 59px;
    z-index: 1;
}

.our-services-card:nth-child(3) {
    margin-left: 59px;
    z-index: 1;
}

.our-services-card h3 {
    margin-bottom: 23px;
    color: #000;
    font-family: Outfit;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    text-transform: capitalize;
}

.our-services-card:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.2);
    top: 200px;
    border: 2px solid rgba(128, 128, 128, 0.148);
    background-color: white;
}

.arrow-button {
    width: 200px;
    height: 48px;
    border-radius: 54.378px;
    background: var(--yellow-gwk, #FAC568);
    color: #000;
    font-family: Outfit;
    font-size: 17.22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    outline: none;
    border: none;
}

.arrow-button img {
    position: relative;
    top: 10.41px;
    bottom: 10.41px;
    display: flex;
    width: 27.189px;
    height: 27.189px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}


/*---------page4-------*/

.our-latest {
    width: 100%;
    height: 544px;
    z-index: 0;
    margin-bottom: 79px;
}

.our-latest-label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.our-latest-line {
    width: 35px;
    height: 3px;
    border-radius: 3px;
    background-color: #FFD700;
}

.our-latest--line {
    width: 35px;
    height: 3px;
    border-radius: 3px;
    background-color: #FFD700;
}

.our-latest-label h5 {
    display: flex;
    color: #000;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    font-size: 17px;
    text-transform: uppercase;
}

.our-latest-title {
    padding: 22px 0px 68px 0px;
    text-align: center;
}

.our-latest-title h1 {
    color: #333;
    text-align: center;
    font-family: Outfit;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 60px */
}

.swiper {
    position: absolute;
    width: 1000px;
    height: 380px;
}

.swiper-wrapper {
    width: 1000px;
}

.swiper-slide {
    position: relative;
    padding-left: 0;
    background-position: center;
    background-size: cover;
    border-radius: 52px;
    position: relative;
    overflow: hidden;
}

.click-prev {
    position: relative;
    padding: 40px;
    background-size: 100% auto;
    background-position: center;
    background-color: #FAC568;
    border-radius: 40px;
    color: black;
    display: flex;
}

.click-prev::after {
    position: absolute;
    color: black;
}

.click-next {
    padding: 40px;
    background-size: 100% auto;
    background-position: center;
    background-color: #FAC568;
    border-radius: 40px;
    color: black;
    display: flex;
}

.click-next::after {
    position: absolute;
    color: black;
}

.swiper-overlay {
    width: 100%;
    height: 380px;
    background-color: rgba(255, 255, 255, 0.80);
}

.our-latest .swiper-slide:nth-child(1) {
    background-image: url(/assets/images/latestproject1.png);
    z-index: -100;
    position: relative;
}

.our-latest .swiper-slide:nth-child(2) {
    background-image: url(/assets/images/latestproject2.png);
}

.our-latest .swiper-slide:nth-child(3) {
    background-image: url(/assets/images/latestproject3.png);
}

.swiper-slide h4 {
    position: absolute;
    left: 101px;
    top: 105px;
    color: #000;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.66px;
}

.swiper-slide h1 {
    position: absolute;
    left: 101px;
    top: 145px;
    bottom: 165;
    color: #333;
    font-size: 53px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.swiper-slide p {
    position: absolute;
    left: 101px;
    top: 234px;
    color: #404040;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
}


/*---------page5-------*/

.our-testimoni {
    width: 100%;
    height: 690px;
    z-index: 1;
}

.our-testimoni-line {
    width: 35px;
    height: 3px;
    border-radius: 3px;
    background-color: #FFD700;
}

.our-testimoni-label {
    z-index: 100;
    display: flex;
    width: 665px;
    align-items: center;
    gap: 14px;
    padding-top: 102px;
    margin-left: 147px;
}

.our-testimoni-label h5 {
    display: flex;
    font-weight: 900;
    font-size: 17px;
    color: #000;
    width: 269px;
    height: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
}

.our-testimoni-title {
    padding-top: 143px;
    padding-left: 147px;
}

.our-testimoni-title h1 {
    color: #333;
    text-align: center;
    font-family: Outfit;
    font-size: 37px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 60px */
}

.testimoni {
    width: 526.376px;
    height: 193px;
    flex-shrink: 0;
}

.testimoni img {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 238.44px;
    left: 120px;
    color: goldenrod;
}

.testimoni p {
    top: 238px;
    left: 190px;
    position: absolute;
    width: 400px;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 145%;
    /* 37.7px */
}

.client {
    display: flex;
    width: 385.616px;
    height: 93.643px;
    align-items: center;
    gap: 26.087px;
    flex-shrink: 0;
}

.client img {
    position: absolute;
    top: 490.89px;
    left: 110px;
    width: 80px;
    height: 80px;
}

.client h4 {
    position: absolute;
    top: 487.21px;
    left: 217.05px;
    color: #000;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%;
}

.client p {
    position: absolute;
    top: 539.21px;
    left: 217.05px;
    color: #000;
    font-size: 23px;
    font-style: normal;
    font-weight: 300;
    line-height: 145%;
    /* 39.15px */
}

.pict-testimoni {
    top: 59px;
    right: 0px;
    left: 821.58px;
    width: 1260px;
    position: absolute;
    z-index: 1;
}

.pict-testimoni img {
    top: 0px;
    right: 0px;
    width: 580.41px;
    height: 571.71px;
    z-index: 2;
}

.double {
    width: 100%;
    height: 700px;
}

.our-testimoni .swiper-slide {
    padding-left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1260px;
    border-radius: 40px;
    position: relative;
}

.our-testimoni .swiper-button-prev {
    top: 180px;
    left: 743px;
    width: 80px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-color: #15548D;
    border-radius: 50px 0px 0px 50px;
}

.our-testimoni .swiper-button-prev::after {
    left: 20px;
    width: 45px;
    height: 45px;
    position: absolute;
    color: white;
}

.our-testimoni .swiper-button-next {
    top: 180px;
    left: 822px;
    width: 80px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-color: #15548D;
    border-radius: 0px 50px 50px 0px;
}

.our-testimoni .swiper-button-next::after {
    right: 0px;
    width: 45px;
    height: 45px;
    position: absolute;
    color: white;
}


/*---------page6-------*/

.call-me {
    margin-top: 8px;
    width: 100%;
    background-color: rgb(255, 249, 241);
}

.call-me-container {
    right: -40px;
    left: -40px;
    width: 100%;
    height: 667px;
    position: relative;
}

.call-me-label {
    position: relative;
    top: 80px;
    left: 30px;
    align-items: center;
    gap: 14px;
    z-index: 50;
}

.call-me-line {
    position: absolute;
    top: 80px;
    left: 90px;
    width: 35px;
    height: 3px;
    border-radius: 3px;
    background-color: #FFD700;
}

.call-me-label h5 {
    top: 60px;
    left: 140px;
    position: absolute;
    display: flex;
    color: #000;
    width: 269px;
    height: 17px;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
    z-index: 50;
}

.call-me-discuss h1 {
    position: absolute;
    left: 120px;
    top: 180px;
    width: 400px;
    height: 111px;
    color: var(--black, #052925);
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    z-index: 50;
    /* 158.824% */
}

.call-me-desc p {
    position: absolute;
    top: 350px;
    left: 120px;
    width: 430px;
    height: 108px;
    color: var(--black, #052925);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    z-index: 50;
    /* 180% */
}

form {
    top: 83.5px;
    left: 716px;
    position: absolute;
    width: 518px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    z-index: 50;
}

.call-me .call-me-container form .row {
    width: 438px;
    position: relative;
    left: 60px;
}

input[type="text"] {
    width: 438px;
    height: 53px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid var(--yellow-gwk, #FAC568);
    background: #FFF;
}

input[type="number"] {
    width: 438px;
    height: 53px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid var(--yellow-gwk, #FAC568);
    background: #FFF;
}

.call-me-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.row {
    position: relative;
    margin: 30px;
}

.row label {
    color: var(--black, #052925);
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    /* 147.059% */
}

button[type="button"] {
    /* width: 438px;
    height: 60px;
    background-color: #FAC568;
    color: white;
    border: none;
    border-radius: 90px;
    cursor: pointer; */
    display: flex;
    width: 438px;
    padding: 15px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 9000px;
    background: var(--yellow-gwk, #FAC568);
    border: none;
    /**/
    color: #000;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    /* 125% */
}

button[type="button"]:hover {
    background-color: #fbd189;
}

.design-element {
    position: relative;
}

.img-element-1 {
    position: absolute;
    width: 350px;
    height: 550px;
    top: 90px;
    left: 0px;
    opacity: 0.2;
}

.img-element-3 {
    position: absolute;
    width: 200px;
    height: 450px;
    top: 20px;
    left: 0px;
    z-index: 10;
    opacity: 0.2;
}


/*page7*/

.footer {
    width: 100%;
    height: 700px;
}

.footer-logo img {
    position: absolute;
    top: 71px;
    left: 80px;
    width: 192px;
    height: 65px;
}

.footer-container {
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #15548D;
    position: relative;
    color: white;
}

.footer-container h3 {
    color: #FFF;
    font-family: Outfit;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 31.5px */
}

.footer-container p a {
    color: white;
    font-size: 18px;
    color: #FFF;
    font-family: Outfit;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 31.5px */
}

.footer-home {
    position: absolute;
    height: 84px;
    flex: 1 0 0;
    top: 190px;
    left: 80px;
}

.footer-company {
    position: absolute;
    top: 190px;
    left: 375px;
}

.footer-find-me {
    position: absolute;
    top: 190px;
    left: 670px;
}

.footer-social-media {
    position: absolute;
    left: 991px;
    top: 190px;
    height: 52px;
    width: 295.25px;
    flex: 1 0 0;
    align-items: flex-start;
    gap: 16px;
}

.footer-privacy {
    position: absolute;
    left: 80px;
    top: 427px;
    z-index: 70;
    color: #FFF;
    font-family: Outfit;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 31.5px */
    text-decoration-line: underline;
}

.footer i {
    width: 52px;
    height: 52px;
}

.link {
    font-size: 52px;
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
}

.footer-language-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16.97px;
    position: absolute;
    width: 375.03;
    top: 440px;
    left: 870px;
}

.fa-facebook-square {
    width: 50px;
    height: 50px;
    color: white;
}

.fa-youtube-play {
    width: 50px;
    height: 50px;
    color: white;
}

.fa-instagram {
    width: 50px;
    height: 520px;
    color: white;
}

.flag-icon {
    font-size: 24px;
    margin-right: 5px;
}

.footer-id {
    width: 260px;
    height: 50px;
    z-index: 100;
    display: flex;
    padding: 5px 5px;
    justify-content: space-between;
    align-items: center;
    /*Style*/
    border-radius: 1696.97px;
    background: var(--blue-swatch-gwa, #29679F);
    color: #FFF;
    font-family: Outfit;
    font-size: 20.364px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
}

.id {
    top: 0px;
    left: 30px;
    bottom: 12px;
    position: relative;
    /* 30.545px */
}

.id-img {
    border-radius: 5px;
    top: 3px;
    left: -45px;
    position: absolute;
    width: 30px;
    height: 20px;
}

.footer-id ul {
    width: 260px;
    border-radius: 10px;
    background: var(--blue-swatch-gwa, #29679F);
    margin-left: 60px;
}

.footer-id ul li a {
    color: white;
}

.fot {
    position: absolute;
    top: 10px;
    left: 180px;
}

.footer-copyright {
    position: absolute;
    top: 600px;
    left: 80px;
    color: #FFF;
    font-family: Outfit;
    font-size: 19px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 33px */
}

.footer-1 {
    left: 0;
    position: absolute;
    top: 360px;
    z-index: 50;
}

.footer-2 {
    width: 1230px;
    left: 0px;
    position: absolute;
    top: 500px;
    z-index: 50;
}

.footer-2 img {
    width: 1230px;
}

.footer-3 {
    width: 722px;
    height: 380px;
    right: 1px;
    position: absolute;
    top: 310px;
    z-index: 50;
}

.footer-3 img {
    height: 385px;
    width: 722px;
}

.footer-4 {
    width: 1200px;
    right: 1px;
    position: absolute;
    top: 395px;
    z-index: 50;
}

.footer-4 img {
    width: 1200px;
}

.hide {
    display: none;
}